{% extends "layouts/base.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/home/home.css">
{% endblock %}


{% set categories = craft.entries().section('categories').all() %}
{% set items = craft.entries().section('items').all() %}

{% block body %}
    <h1>Homepage</h1>

    <h2>Categories</h2>

        {% for category in categories %}
            
                <a href="{{ category.url }}">{{ category.title }}</a>
            
        {% endfor %}

    <h2>Items</h2>

    
<form method="get" action="">
    <input type="text" name="search" placeholder="Search items..." value="{{ craft.app.request.getQueryParam('search') }}">
    <button type="submit">Search</button>
</form>

{% set searchQuery = craft.app.request.getQueryParam('search') %}
{% if searchQuery %}
    {% set items = craft.entries()
        .section('items')
        .search('title:*' ~ searchQuery ~ '*')
        .all() %}
{% endif %}

    <ul>
        {% for item in items %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
   
{% endblock %}

